<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="brand">
    <a href="<%= root_path %>" ><%= image_tag "WCA Logo 2020.svg" %></a>
  </div>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse disabled">
    <ul class="nav navbar-nav">
      <li class="top-nav logo">
        <a href="<%= root_path %>"><%= image_tag "WCA Logo 2020.svg" %></a>
      </li>
      <li class="dropdown <%= Set['competitions', 'delegate_reports', 'results_submission'].include?(params[:controller]) ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">
          <%= ui_icon('cube') %><span class="hidden-sm hidden-md"> <%= t '.competitions' %></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="<%= competitions_path %>"><%= ui_icon('globe') %> <%= t '.all' %></a></li>
          <li><a href="<%= my_comps_path %>"><%= ui_icon('list') %> <%= t '.my_competitions' %></a></li>
        </ul>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">
          <% if current_user %>
            <%= react_component("UserAvatar", {
              avatar: (current_user || User.new).avatar,
              size: "tiny",
              disableHover: true,
            }, class: 'avatar-thumbnail') %>
          <% else %>
            <%= t 'devise.shared.links.sign_in' %>
          <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <% if current_user %>
            <li role="presentation" class="dropdown-header">
              <%= current_user.name %>
            </li>
            <li class="divider"></li>
            <li><%= link_to(t('.sign_out'), destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to(t('devise.shared.links.sign_in'), new_user_session_path, class: "top-nav") %></li>
            <li class="divider"></li>
            <li><%= link_to(t('devise.shared.links.sign_up'), new_user_registration_path) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
